html,body{
    margin: 0px;
    height: 100%;
}
.container{
    background-color: cadetblue;
    height: 100%;
}
input[type="text"]{
    text-align: center;
    text-shadow: 1px 2px 2px;
    width: 50%;
    height: 200px;
    font-size: 50px;
    margin: auto;
    display: block;
    background-color: bisque;
    margin-bottom: 1%;
}

button {
    text-align: center;
    width: 40%;
    height: 200px;
    font-size: 50px;
    margin: auto;
    display: block;
    background-color: aqua;
    margin-bottom: 1%;
    cursor: pointer;
}

.div__container {
   background-color:aqua;
   width: 50%;
   height: 350px;
   margin: auto;
   display: block;

}

#innerHTML {
    width: 50%;
    height: 350px;
    margin: auto;
    display: block;
 
 }





